<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сократитель ссылок</title>
</head>
<body>
    <h1>Сократитель ссылок 🚀</h1>
    <form action="/shorten" method="post">
        <input type="text" name="url" placeholder="Введите длинную ссылку" size="50" required>
        <button type="submit">Сократить</button>
    </form>

    {{if .}}
        <p>Ваша короткая ссылка: 
            <a href="{{.}}" target="_blank">{{.}}</a>
        </p>
    {{end}}
</body>
</html>
